.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.field {
  height: 60px;
  margin: 0.5rem 0;
}

.field label {
  display: inline-block;
  width: 180px;
  font-size: 18px;
}

.field input {
  height: 50px;
  width: 200px;
  padding: 0 1rem;
  font-size: 16px;
  outline: none;
  box-shadow: none;

  color: #333;
}

.field input:focus {
  border: 3px solid var(--base-bg-light);
}

.submit {
  height: 40px;
  font-size: 20px;

  background-color: var(--base-button);
  border: 0px;
  color: white;

  text-transform: uppercase;
}
