doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Seobryum Wow - #{pageTitle}
        link(rel="stylesheet", href="/css/style.css")
    body 
        header.app-bar
            div.container
                div.logo
                    img.logo-img(src="/images/wow-logo.png")
                    img.expansion-bg(src="/images/expansion-bg.png", width="250px" height="70px")
                    span.wow-name.warcraft Seobryum

        block content

